@media screen and (max-width: 1170px) {
  .body {
      display: none;
  }

  .body {
      display: block;
      border: none;
      background-color: transparent;
      font-size: 1.5rem;
      cursor: pointer;
  }

  .body {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .body {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 12px 0px;
  }

  .body {
      list-style: none;
      text-align: center;
  } 
  footer {
    background-color: var(--color-primary-2);
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}
}